html, body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	scroll-behavior: smooth;
	background-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #141E30; 
}
::-webkit-scrollbar-thumb:hover {
  background: #315176; 
}

/* MENÚ */
#menu>.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    padding: 1.75em 0.75em;
    background: white;

    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    border-bottom-left-radius: 1em;
    transition: .5s ease-in-out;

    cursor: pointer;
    z-index: 100;
}

#menu>.menu>.hamburger {
    position: relative;
    width: 100%;
    height: 4px;
    background: #315176;
    display: block;
}

#menu>.menu>.hamburger:after, 
#menu>.menu>.hamburger:before {
	content: "";
	transition: .5s ease-in-out;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #315176;
}

#menu>.menu>.hamburger:before {top: -10px;}
#menu>.menu>.hamburger:after {bottom: -10px;}
#menu>input {display: none;}

#menu>input:checked + .menu {
	box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
	border-radius: 0;
}
#menu>input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu>input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 0;
}
#menu>input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

#menu>input:checked + .menu + ul {opacity: 1; pointer-events: all;}
#menu>ul {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	list-style: none;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: .25s all ease-in-out;
	opacity: 0;
	pointer-events: none;
	z-index: 200;
}
#menu>ul>li {overflow: hidden;}
#menu a {
	position: relative;
	display: block;
	margin-bottom: 1em;
	padding: 0.25em;

	text-decoration: none;
	font-size: calc(1vw + 2em);
	color: #141E30;
	text-transform: lowercase;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 0.25em;
	margin-right: -0.25em;
	transition: color .3s ease-out;

	overflow: hidden;
	z-index: 0;
}

#menu a::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   -webkit-transform: translateY(calc(100% - 3px));
           transform: translateY(calc(100% - 3px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #315176 0%, #141E30 100%);
   transition: -webkit-transform .25s ease-out;
   transition: transform .25s ease-out;
   transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

#menu a:hover {color: #fff; }
#menu a:hover::before {
   -webkit-transform: translateY(0);
           transform: translateY(0);
   transition: -webkit-transform .25s ease-out;
   transition: transform .25s ease-out;
   transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}


/* HEADER */
header {
	background: #141E30;
	background: -webkit-linear-gradient(to bottom, #315176, #141E30);
	background: linear-gradient(to bottom, #315176, #141E30);

	height: 100vh;
    position: relative;
    z-index: 0;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	shape-outside: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    shape-margin: 20px;

	overflow: hidden;
}

#header-text {
	position: relative;
	text-align: center;
	color: white;
	background-color: #151823;
	padding: 2em 1em;
	border: 1px solid #aaaaaa;
	cursor: pointer;

	transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

#header-text:before {
	position: absolute;
	content: "";
	left: -3px;
	right: -3px;
	top: -3px;
	bottom: -3px;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

	background: linear-gradient(270deg,#000046, #1cb5e0);
	background-size: 200% 200%;
	animation: animateGlow 10s ease infinite;

	opacity: 0.5;
	z-index: -1;
}

#header-text>h1 {
	font-size: calc(5vw + 1em);
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

#header-text>h2 {
	font-size: calc(1.5vw + 1em);
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: lighter;
	color: #aaa;
	margin-top: -0.5em;
}

#projects-row {
	padding-top: 5em;
	padding-bottom: 5em;
}


/* CARDS */
.card {
	background-color: white;
	border-radius: 4px;
	margin-bottom: 2em;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	overflow: hidden;

	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.thumbnail {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.thumbnail>img {
	position: absolute;
	left: 50%;
	top: 50%;
    min-height: 100%;
    min-width: 100%;
	/*
	height: 100%;
	width: auto;
	*/
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
	width: 150%;
	height: auto;

	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.thumbnail:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #234f6c;
	opacity: 0.25;
	z-index: 1;

	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.card:hover>.thumbnail>img {
	-webkit-transform: translate(-50%,-50%) scale(1.1);
	-ms-transform: translate(-50%,-50%) scale(1.1);
	transform: translate(-50%,-50%) scale(1.1);
}

.card:hover {
	transform: scale(1.05);
}

.card:hover>.thumbnail:after {
	opacity: 0;
}

.card.row {
	margin-left: 0;
	margin-right: 0;
}

.card-text {padding: 1em;}
.card-text>h2 {
	opacity: 0.5;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 2px;
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 0;
}

.card-text>h1 {
	margin: 0;
	padding: 0;
	font-size: 2.25em;
}

.card-text>p {
	opacity: 0.75;
	font-size: 16px;
}

.card-text>a {
	display: inline-block;
	padding: 10px 15px;
	color: white;
	background-color: #234f6c;
	
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	text-decoration: none;

	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

.card-text>a.code-link {
	opacity: 0.5;
	margin-right: 5px;
}

.card-text>a:hover {
	color: #234f6c;
	background-color: white;
	font-weight: bolder;
}

.card-text::after {
	content: "";
	clear: both;
	display: table;
}


/* CONTACT */
#contact-row {
	-webkit-clip-path: polygon(50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
	clip-path: polygon(50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
	padding: 5em 1em;
	background-color: #141E30;
	color: white;
	text-align: center;
}

#contact-row>div>div>a {
	font-weight: bolder;
	font-size: calc(1.5em + 1vw);
	text-decoration: none;
	color: white;

	-webkit-transition: 0.75s opacity ease;
	-o-transition: 0.75s opacity ease;
	transition: 0.75s opacity ease;
}

#contact-row>div>div>a:hover {
	opacity: 0.5;
}

#contact-row ul {
	font-size: calc(1em + 1vw);
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 1em;
}

#contact-row ul>li {
	display: inline-block;
}

#contact-row ul>li>a {
	color: #141E30;
	padding: 2px 5px;

	background-color: white;
	border-radius: 50%;

	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

#contact-row li + li {
	margin-left: 0.5em;
}

#contact-row ul>li>a:hover {
	border-radius: 0%;
	color: white;
	background-color: transparent;
}

@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (min-width: 992px) {
	#header-text>h1 {
	    font-size: calc(3vw + 1em);
	}

	#header-text>h2 {
	    font-size: calc(1vw + 1em);
	}

	#header-media {
		font-size: calc(1vw + 0.75em);
	}
}
@media (min-width: 768px) {
	.thumbnail {
		height: auto;
	}
}

